<h2><%= @user.name %>様</h2>
<p>この度は、LinkHubへのご登録ありがとうございました。</p>
<p>ユーザー名、初期パスワードをお知らせします。</p>

<h2>ユーザー名: <%= @user.name %></h2>
<h2>初期パスワード: <%= @password %></h2>

<p>以下のリンクからログインしてください。</p>
<p>パスワードはマイページ=>設定から変更できます。</p>
<p> <%= link_to 'ログインはこちら', "#{ENV['DOMAIN_NAME']}/users/sign_in" %> </p>
<br>
<p> LinkHub </p> 