<p><h1><%= @user.name %>のFavorite一覧ページ</h1></p>
<p><%= link_to "投稿一覧ページへ" , user_path(user_name: @user.name) %></p>

<%= render "relationships/follow", user: @user %>



<% @favorite_all.each do |favorite| %>
  <% if favorite.theme.post_status == 2 %>
  　<%= render "themes/indiv_theme", theme: favorite.theme %>
  <% end %>
<% end %>



