<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with model: theme_new, local: false do |f| %>
      <div class="modal-header">
        <h5 class="modal-title">新規投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          タイトル (最大50文字)
          <%= f.text_field :title, class: "form-control", maxlength: "50" %>
        </div>
        <div class="form-group">
           関連タグ(,区切りで入力/各20文字以内/最大5つまで)
           <%= f.text_field :tag_list, data: {role: "tagsinput"}, class: "form-control" %>
         </div>
      </div>
      
      <div class="modal-footer actions">
        <%= f.submit "テーマ作成", class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>

<script>
   $(document).on('turbolinks:load', function() {
     $("input[data-role=tagsinput], select[multiple][data-role=tagsinput]").tagsinput();
     console.log(window.performance.navigation);
   });
   // console.log(window.performance.navigation);
 </script>