<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with model: theme_new, remote: true do |f| %>
    <!--<%# if theme_new.errors.any? %>-->
    <!--<div id="error_explanation">-->
    <!--  <h2><%#= pluralize(theme_new.errors.count, "error") %> prohibited this user from being saved:</h2>-->
    <!--  <ul>-->
    <!--    <%# theme_new.errors.full_messages.each do |message| %>-->
    <!--    <li><%#= message %></li>-->
    <!--    <%# end %>-->
    <!--  </ul>-->
    <!--</div>-->
    <!--<%# end %>-->
    <div class="modal-header">
      <h5 class="modal-title">New Theme</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label :title, class: "form-control-label" %>(最大50文字)
        <%= f.text_field :title, class: "form-control", maxlength: "50" %>
      </div>
    </div>
    <div class="modal-footer actions">
      <%= f.submit "New Theme", class: "btn btn-primary"%>
    </div>

    <% end %>
  </div>
</div>
