<div class="user-edit" id="follow-buttons-<%= user.id %>">
  <% unless current_user == nil or current_user == user %><% if current_user.following?(user) %><%= link_to "フォロー外す", user_relationships_path(user_name: user.name), method: :delete, remote: true, class: "btn btn-outline-danger btn-block" %><% else %><%= link_to "フォローする", user_relationships_path(user_name: user.name), method: :post, remote: true, class: "btn btn-outline-primary btn-block" %><% end %><% end %>
</div>
