<p><h1><%= @user.name %>のフォロワー一覧ページ</h1></p>


<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.followers.each do |user| %>
      <%= render "users/indiv_user", user: user %>
    <% end %>
  </tbody>
</table>