<p><h1><%= @user.name %>のフォロワー一覧ページ</h1></p>


<div class='row'>
  <div class="col-md-3">
    <%= render "users/user_info", user: @user %>
  </div>
  <div class="col-md-8">
    <% @user.followers.each do |user| %>
      <%= render "users/user_wide", user: user %>
    <% end %>
  </div>
</div>