<div class="user-wide-card-content" style="width:100%;">
  <div class="user-wide-card-content-header">
    <%= link_to user_path(user_name: user.name), class: "link" do %>
      <%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size:"30x30", style: "border-radius: 50%;" %>
      <%= user.name %>
    <% end %>
  </div>
  <div class="user-wide-card-content-main" style="text-align:right;">
    <%= render "relationships/follow", user: user %>
  </div>
</div>