<h3><%= link_to "", edit_theme_link_path(user_name: theme.user.name, theme_hashid: theme.hashid, link_hashid: link.hashid), remote: true, class: "fas fa-edit" %>
<%= link_to "", destroy_theme_link_path(user_name: theme.user.name, theme_hashid: theme.hashid, link_hashid: link.hashid), remote: true, method: :delete, "data-confirm":"本当に消しますか？", class: "fas fa-times-circle" %></h3>
<%= render 'links/link_card', link: link %>