<p><%= link_to "Edit", edit_theme_link_path(user_name: theme.user.name, theme_hashid: theme.hashid, link_hashid: link.hashid), remote: true, class: "btn btn-success" %></p>
<p><%= link_to "Destroy", destroy_theme_link_path(user_name: theme.user.name, theme_hashid: theme.hashid, link_hashid: link.hashid), remote: true, method: :delete, "data-confirm":"本当に消しますか？", class: "btn btn-danger" %></p>
<%= render 'links/link_card', link: link %>