<% if @status == 'success' %>
  $("#add-link-card").append("<div class='link-card' id='link-card-<%= @link_new.id %>'><%= j(render("links/link_card_edit", link: @link_new, theme: @theme)) %></div>");
  $("#links-modal").modal("hide")

  <% if @theme.links.count < 10 %>
    $("#add-links").html("<%= escape_javascript(link_to 'Add Links', new_theme_link_path(user_name: @theme.user.name, theme_hashid: @theme.hashid), remote: true, class: "btn btn-primary") %>");
  <% else %>
    $("#add-links").html("");
  <% end %>

<% elsif @status == 'fail' %>
  $("#error_explanation").html("<p style='color: red;'>サブタイトルを入力してください</p>")
<% end %>