<div class='row'>
  <div class="col-md-8 offset-md-2">
    <h2><%= @tag_name %>が付いている記事: <%= @theme_tagged_with.length %>件</h2>
    <% if @theme_tagged_with.length == 0 %>
      <p>投稿された記事がありません</p>
    <% else %>
      <% @theme_tagged_with.each do |theme| %>
        <% if theme.post_status == 2 %>
          <%= render "themes/theme_card", theme: theme %>
        <% end %>
      <% end %>
      <%= paginate @theme_tagged_with, theme: 'bootstrap-5' %>
    <% end %>
  </div>
</div>