<div class='row'>
  <!--<div class="col-md-3 offset-md-1">-->
  <!--  <p>ユーザーランキング</p>-->
  <!--  <%#= render "public/users/ranking_user", user_ranks: @user_ranks %>-->
  <!--</div>-->
  <div class="col-md-8 offset-md-2">
    <% if user_signed_in? %>
      <div class="button-wrap">
        <%= link_to "全ユーザー", root_path, class: "radio-button" %>
        <%= link_to "フォロー中", index_follow_path, class: "radio-button btn-energy" %>
      </div>
    <% end %>
    <% if current_user.followings.count == 0 %>
      <p>誰かフォローしてみよう！</p>
    <% elsif @theme_released_following.length == 0 %>
      <p>投稿された記事がありません</p>
    <% else %>
      <% @theme_released_following.each do |theme| %>
        <%= render "public/themes/theme_card", theme: theme %>
      <% end %>
      <%= paginate @theme_released_following, theme: 'bootstrap-5' %>
    <% end %>
  </div>
</div>