<% if @status == 'success' %>
  $("#add-link-card").append("<div class='link-card' id='link-card-<%= @link_new.id %>'><%= j(render("public/links/link_card_edit", theme: @link_new.theme, link: @link_new)) %></div>");
  $("#links-modal").modal("hide")

  <% if @link_new.theme.links.count < 10 %>
    $("#add-links").html("<%= escape_javascript(link_to 'リンク集追加', new_theme_link_path(user_name: @link_new.theme.user.name, theme_hashid: @link_new.theme.hashid), remote: true, class: "btn btn-energy ml-5") %>");
  <% else %>
    $("#add-links").html("");
  <% end %>

<% elsif @status == 'fail' %>
  $("#error_explanation").html("<p style='color: red;'>エラーが発生しました</p>")
<% end %>