<!--<h1>Welcome#send_when_signup</h1>-->

<!--<p>-->
<!--  <%#= @greeting %>, find me in app/views/welcome_mailer/send_when_signup.html.erb-->
<!--</p>-->

<h2><%= @name %> さま</h2>

<p>この度は、〇〇へのご登録ありがとうございました。</p>
<p>今後とも 〇〇 をよろしくお願いいたします。</p>

<p>〇〇事務局</p>
