<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <tbody>
    <% @theme_searched.each do |theme| %>
      <tr>
        <td><%= theme.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>