<h2>検索結果: <%= @theme_searched_count %>件</h2>
<% @theme_searched_page.each do |theme| %>
  <%= render "themes/theme_card", theme: theme %>
<% end %>
<%= paginate @theme_searched_page, theme: 'bootstrap-5' %>