/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background-color: #fff5eb;
}

.text-energy {
  color: #FFA83D;
}

.btn-energy {
  background-color: #FFA83D;
  color: #fff;
}

.card-content {
  background-color: #fff;
  border-left: solid 5px #FFA83D;
  width: 100%;
  // margin-left: 50px;
  // margin-bottom: 20px;
}

.card-content-header {
  padding: 10px 0px 0px 10px;
}

.card-content-main {
  padding-left: 50px;
  font-size: 24px;
}

.card-content-footer {
  padding-left: 50px;
  padding-bottom: 10px;
}

footer {
  margin-top: 50px;
  height: 100px;
  background-color: #2F3232;
}

.link{
  text-decoration: none;
  color: #808080;
}







.fixed {
  position: fixed;
  top: 105px;
}

.absoluted {
  position: absolute;
}




.user_info {
  border: solid 1px #333;
  width: 100%;
  background-color: white;
}

.user_info > .user_image {
  padding-top: 50px;
  text-align: center;
}

.user_info > .user_name {
  padding-top: 10px;
  text-align: center;
}

.user_info > ul {
  display: flex;
  justify-content: center;
}

.user_info > ul > .user_sns_item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.user_info > .user_edit {
  padding: 0 20px;
}



.user_card {
  border: solid 1px #333;
  width: 100%;
  background-color: white;
  padding: 10px;
}

.user_card > .user_image {
  display: flex;
}

.user_card > ul {
  display: flex;
  justify-content: center;
}

.user_show > ul > .user_sns_item {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}











.one-link-card {
    background-color: #FFF;
    display: table;
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}


.one-link-card > a {
    display: table-cell;
    padding: 16px;
    vertical-align: middle;
}

.one-link-image {
    width: 225px;
    height: 150px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-left: 1px solid #e8eceb;
    border-radius: 0 3px 3px 0;
}

.one-link-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.one-link-description {
    display: -webkit-box;
    max-height: 3em;
    overflow: hidden;
    color: #6F7372;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.one-link-url {
    display: -webkit-box;
    max-height: 3em;
    overflow: hidden;
    color: #6F7372;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}