/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-tagsinput
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background-color: #fff5eb;
}

main {
  padding: 50px;
}

.text-energy {
  color: #FFA83D;
}


.btn-energy {
  background-color: #FFA83D;
  color: #fff;
}


.link{
  text-decoration: none;
  color: #808080;
}



/* ------------------------------
    theme-card
------------------------------ */

.theme-card-content {
  background-color: #fff;
  border-left: solid 5px #FFA83D;
  width: 100%;
  margin-bottom: 20px;
}


.theme-card-content-header {
  padding: 10px 0px 0px 10px;
}


.theme-card-content-main {
  padding-left: 50px;
  font-size: 24px;
}


.theme-card-content-footer {
  padding-left: 50px;
  padding-bottom: 10px;
}















.fixed {
  position: fixed;
  top: 105px;
}

.absoluted {
  position: absolute;
}

.user-follow {
  margin: 0 auto;
}




.user-info {
  border: solid 1px #333;
  width: 100%;
  background-color: white;
}

.user-info > .user-image {
  padding-top: 50px;
  text-align: center;
}

.user-info > .user-name {
  padding-top: 10px;
  text-align: center;
}

.user-info > ul {
  display: flex;
  justify-content: center;
}

.user-info > ul > .user-sns-item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.user-info > .user-edit {
  padding: 0 20px 20px 20px;
}





.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #FFA83D;
    color: #fff;
}



.ranking-content {
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.ranking-content:last-of-type {
  background-color: #fff;
}



.user-card {
  border: solid 1px #333;
  width: 100%;
  background-color: white;
  padding: 10px;
}

.user-card > .user-image {
  display: flex;
}

.user-card > ul {
  display: flex;
  justify-content: center;
}

.user-show > ul > .user-sns-item {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}




/* ------------------------------
    link-card
------------------------------ */

.link-card {
    background-color: #FFF;
    position: relative;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: inset 1px 1px 3px #e0e0e0, inset -1px -1px 3px #fff5eb, 5px 5px 10px #C6C9CC, -5px -5px 10px #fff5eb;
}

.link-card-frame {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #555;
    margin-bottom: 10px;
}

.link-card-subtitle {
    display: inline-block;
    font-weight: bold;
    color: #555;
    font-family: Roboto, sans-serif, -apple-system, "system-ui", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
    font-size: 1.6em;
}

.link-card-edit {
    display: inline-block;
}

.link-card-caption {
  letter-spacing: 0.05em;
  color: #666;
  white-space: pre-wrap;
}


/* ------------------------------
    one-link-card
------------------------------ */

.one-link-card {
    background-color: #FFF;
    display: table;
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}


.one-link-card > a {
    display: table-cell;
    padding: 16px;
    vertical-align: middle;
}

.one-link-image {
    width: 225px;
    height: 150px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-left: 1px solid #e8eceb;
    border-radius: 0 3px 3px 0;
}

.one-link-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.one-link-description {
    display: -webkit-box;
    max-height: 3em;
    overflow: hidden;
    color: #6F7372;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.one-link-url {
    display: -webkit-box;
    max-height: 3em;
    overflow: hidden;
    color: #6F7372;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}





/*ページネーション自体のデザイン*/
.pagination > li > a {
  border: none;     /*枠線をなくす*/
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  border-radius: 45%;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 45%;    /*角を丸くする*/
}


footer {
  margin-top: 50px;
  height: 100px;
  background-color: #2F3232;
}