/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  background-color: #f4f4f4;
}

.text-energy {
  color: #f48c1c;
}

.btn-energy {
  background-color: #f48c1c;
  color: #fff;
}

.card-content {
  background-color: #fff;
  border-left: solid 5px #f48c1c;
  width: 50%;
  margin-left: 50px;
  margin-bottom: 20px;
}

.card-content-header {
  padding: 10px 0px 0px 10px;
}

.card-content-main {
  padding-left: 50px;
  font-size: 24px;
}

.card-content-footer {
  padding-left: 50px;
  padding-bottom: 10px;
}

footer {
  height: 100px;
  background-color: #2F3232;
}