<h4>第１章　総則</h4>

<p>この利用規約（以下、「本規約」といいます。）は、LinkHub（以下、「当社」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用に関する条件を、登録ユーザーの皆さま（以下、「ユーザー」といいます。）と当社との間で定めるものです。</p>

<h5>第1条（適用）</h5>
<p>本規約は、ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>
<p>2. 当社は本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。</p>
<p>3. 本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなき限り、個別規定の規定が優先されるものとします。</p>

<h5>第2条（規約の変更）</h5>
<p>当社は、当社が必要と判断したときは、本サービスの目的の範囲内で、本規約を変更することができるものとします。</p>
<p>2. 当社が本規約の内容を変更するときは、当該変更の事実、その効力発生日および変更内容を本サービスに表示し、または当社が定める方法により通知または公表します。</p>
<p>3. 当該変更内容の通知後、登録ユーザーが本サービスを利用した場合又は当社の定める期間内に登録取消の手続をとらなかった場合には、登録ユーザーは、本規約の変更に同意したものとみなします。</p>

<h5>第3条（通知または連絡）</h5>
<p>ユーザーと当社との間の通知または連絡は、当社の定める方法によって行うものとします。当社は、ユーザーから、当社が別途定める方式に従った変更届け出がない限り、現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い、これらは、発信時にユーザーへ到達したものとみなします。</p>

<h4>第２章　契約の成立</h4>

<h5>第4条（利用登録）</h5>
<p>本サービスにおいては、登録希望者が本規約に同意の上、当社の定める方法によって利用登録を申請し、当社がこれを承認することによって、利用登録が完了するものとします。</p>
<p>2. 当社は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。</p>
<p>(1)利用登録の申請に際して虚偽の事項を届け出た場合</p>
<p>(2)本規約に違反したことがある者からの申請である場合</p>
<p>(3)その他、当社が利用登録を相当でないと判断した場合</p>
<p>3. 未成年者が本サービスの利用を希望する場合には、法定代理人の同意を得る必要があります。未成年者から第1項の申込みがあったときは、本サービスの利用および本規約の内容について、法定代理人の同意があったものとみなします。</p>

<h5>第5条（利用料金および支払方法）</h5>
<p>ユーザーは、本サービスの有料部分の対価として、当社が別途定め、本ウェブサイトに表示する利用料金を、当社が指定する方法により支払うものとします。</p>
<p>ユーザーが利用料金の支払を遅滞した場合には、ユーザーは年14.6％の割合による遅延損害金を支払うものとします。</p>

<h4>第３章　サービス利用上の注意事項</h4>

<h5>第6条（ユーザーIDおよびパスワードの管理）</h5>
<p>ユーザーは、本サービス申込みの際に指定したユーザーID（メールアドレス）および当該ユーザーIDにかかるパスワード（以下併せて「ユーザーID等」といいます。）を自己の責任において厳重に管理するものとし、これらを用いてなされた一切の行為についてその責任を負います。</p>
<p>2. ユーザーは、いかなる場合にも、ユーザーID等を第三者に譲渡または貸与し、もしくは第三者と共用することはできません。当社は、ユーザーID等の組み合わせが登録情報と一致してログインされた場合には、そのユーザーID等を登録しているユーザー自身による利用とみなします。</p>
<p>3. ユーザーID等が第三者によって使用されたことによって生じた損害は、当社に故意又は重大な過失がある場合を除き、当社は一切の責任を負わないものとします。</p>

<h5>第7条 （登録情報の変更）</h5>
<p>ユーザーは、登録情報に変更が生じた場合には、当社が指定する方法により速やかに届出を行います。当社は、登録情報の変更の届出がなされなかったことによりユーザーに生じた損害について一切の責任を負いません。</p>

<h5>第8条 （禁止行為）</h5>
<p>ユーザーは、本サービスに関連して次の各号に定める行為を行ってはいけません。</p>

<p>(1) 法令または公序良俗に違反する行為</p>
<p>(2) 犯罪行為に関連する行為</p>
<p>(3) 本サービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</p>
<p>(4) 不正な目的を持って本サービスを利用する行為</p>
<p>(5) 当社もしくは第三者の著作権、商標権ほか知的財産権、プライバシー、名誉、信用、肖像、パブリシティーその他の権利・利益を侵害する行為または侵害するおそれのある行為</p>
<p>(6)  前号以外で当社もしくは第三者の権利・利益を侵害する行為または侵害するおそれのある行為</p>
<p>(7) 他のユーザーに関する個人情報等を収集または蓄積する行為</p>
<p>(8) 本サービスの他のユーザーまたはその他の第三者に不利益、損害、不快感を与える行為</p>
<p>(9) 当社が許諾しない本サービス上での宣伝、広告、勧誘、または営業行為</p>
<p>(10) 当社、ほかのユーザー、またはその他第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</p>
<p>(11) 不正アクセスをし、またはこれを試みる行為</p>
<p>(12) 第三者のユーザーID等を不正に使用または取得する行為その他ユーザーが、第三者を装って本サービスを利用する行為</p>
<p>(13)前号に定めるものの他、不正アクセス行為等当社による業務の遂行、本サービスの実施もしくは当社の通信設備等に支障を及ぼし、またはそのおそれがあると当社が判断する行為</p>
<p>(14) コンピュータウィルスなどの有害なプログラムを使用し、もしくは送信する行為、またはそのおそれのある行為</p>
<p>(15) 前号に定めるものの他、不正アクセス行為等当社による業務の遂行、本サービスの実施もしくは当社の通信設備等に支障を及ぼし、またはそのおそれがあると当社が判断する行為</p>

<h4>第４章　解約・解除・退会</h4>

<h5>第9条（退会）</h5>
<p>ユーザーは、当社の定める退会手続により、本サービスから退会できるものとします。この場合、ユーザーは自己の責任において、当社からの解約に関する通知を確認するものとします。</p>
<p>2. 前項に基づきユーザーが解約した場合でも、当社は、既に受領した利用料金の返金は行いません。</p>
<p>3. ユーザーが第１項により本利用契約を解約した場合、当社はユーザー情報を消去することができます。</p>

<h5>第１0条（当社による契約解除）</h5>
<p>当社は、ユーザーが次の各号の一つに該当した場合には、ユーザーに対して何らの通知催告をすることなく、本利用契約の一部または全部を解除してユーザーに対する退会処分を行い、または本サービスの提供を停止することができます。</p>

<p>(1) 第8条に定める禁止行為、またはその他本規約に違反する行為を行った場合</p>
<p>(2) 当社に提供された登録情報の全部または一部につき虚偽、誤記または記載漏れがあった場合</p>
<p>(3) 現に制限行為能力者であるか、または制限行為能力者になった場合において、催告後相当期間を経過しても法定代理人の記名押印のある同意書または追認書の提出がない場合</p>
<p>(4) 反社会的勢力等（暴力団、暴力団員、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロまたは特殊知能暴力集団等、その他これらに準ずる者を意味します。以下同じ。）である、資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与する等反社会的勢力等との何らかの交流もしくは関与を行っている、または反社会的勢力等が経営に実質的に関与している法人等であると当社が合理的に判断した場合</p>
<p>(5) クレジットカード会社、立替代行業者等によりユーザー指定のクレジットカード、支払口座の利用が停止された場合</p>
<p>(6) 仮差押、差押、競売、破産手続開始、会社更生手続開始、民事再生手続開始等の申立があった場合、または公租公課等の滞納処分を受けた場合</p>
<p>(7) 過去に本サービスについて退会処分を受けたことが判明した場合</p>
<p>(8) ユーザーが90日以上にわたって所在不明または連絡不能となった場合</p>
<p>(9) その他、当社がユーザーとして不適当であると合理的に判断した場合</p>

<p>2. 前項に基づきユーザーが退会処分を受けた場合でも、当社は、既に受領した利用料金の返金は行わず、また、ユーザーおよび第三者に生じた損害および不利益につき一切の責任を負いません。</p>

<p>3. 第１項に基づきユーザーが退会処分を受けた場合、当社はユーザーに対して何らの通知催告をすることなく、ユーザー情報を消去することができます。</p>

<h4>第５章　サービスの停止、変更および終了</h4>

<h5>第11条（本サービスの提供の停止等）</h5>
<p>当社は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
<p>(1) 本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</p>
<p>(2) 地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</p>
<p>(3) コンピュータまたは通信回線等が事故により停止した場合</p>
<p>(4) その他、当社が本サービスの提供が困難と判断した場合</p>

<p>2. 当社は、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。</p>

<h5>第12条 （サービスの変更）</h5>
<p>当社は、当社の裁量により本サービスの一部の内容を追加または変更することができます。当社は、本条に基づく本サービスの追加または変更により、変更前の本サービスのすべての機能・性能が維持されることを保証するものではありません。</p>

<p>2. 当社は、前項に基づいて本サービスを追加または変更したことによりユーザーに生じた損害および不利益につき一切の責任を負いません。</p>

<h5>第13条 （サービスの中止および終了）</h5>
<p>当社は、事前にユーザーに通知をしたうえで、当社の裁量により本サービスの一部もしくは全部の提供を中止または終了することができます。但し、中止または終了の内容が重大でない場合には、通知をすることなくこれらを実施することができます。</p>

<p>2. 当社は、前項に基づいて本サービスを中止または終了したことによりユーザーに損害が発生した場合でも、一切の責任を負いません。</p>

<h4>第6章　一般条項</h4>

<h5>第14条（保証の否認および免責事項）</h5>
<p>当社は、本サービスが推奨環境において機能するように合理的な最大限の努力を行います。但し、当社は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</p>
<p>当社は、本サービスに起因してユーザーに生じたあらゆる損害について、当社の故意又は重過失による場合を除き、一切の責任を負いません。ただし、本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合、この免責規定は適用されません。</p>
<p>前項ただし書に定める場合であっても、当社は、当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当社またはユーザーが損害発生につき予見し、または予見し得た場合を含みます。）について一切の責任を負いません。また、当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は、ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。</p>
<p>当社は、本サービスに関して、ユーザーと他のユーザーまたは第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。</p>

<h5>第15条 （知的財産権）</h5>
<p>本サービスに関する著作権、著作者人格権、特許権、実用新案権、意匠権、商標権およびパブリシティ権等の一切の知的財産権は当社および正当な権利者たる第三者に帰属し、本利用契約の成立は、本サービスの利用に必要な範囲を超える知的財産権の利用許諾を意味するものではありません。</p>

<h5>第16条 （損害賠償及び免責）</h5>
<p>当社は、本サービスに関してユーザーに生じた損害について、当社に故意または重過失が認められる場合には、当該損害の直接の原因となったサービスについて、当該ユーザーから受領した利用料金の１か月分に相当する額を上限としてその損害を賠償するものとし、それ以外の損害については一切の責任を負いません。</p>

<p>2. ユーザーは、本規約に違反することにより、または本サービスの利用に関して当社に損害を与えた場合、当社に対し当社に生じた損害を賠償しなければなりません。</p>

<p>3. 本サービスに関してユーザーと他のユーザー、または第三者との間に紛争が生じた場合、ユーザーは自己の責任と費用で解決するものとし、またこれにより当社が被った損害（弁護士費用を含みます。）を補償します。</p>

<h5>第17条 （個人情報の取扱い）</h5>
<p>当社は、本サービスの利用によって取得する個人情報については、当社「プライバシーポリシー」に従い適切に取り扱うものとします。</p>
<p>2. 当社は、本利用契約の終了後も、プライバシーポリシー記載の利用目的の範囲内でユーザーの個人情報を利用できるものとします。</p>

<h5>第18条（権利義務の譲渡の禁止）</h5>
<p>ユーザーは、当社の書面等による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡(合併、会社分割等による包括承継も含みます。)し、または担保の目的に供することはできません。</p>

<h5>第19条（準拠法・裁判管轄）</h5>
<p>本規約の解釈にあたっては、日本法を準拠法とします。</p>
<p>本サービスに関して紛争が生じた場合には、東京地方裁判所を専属的合意管轄とします。</p>

<h5>第20条 （本規約の適用制限）</h5>
<p>本規約の一部の条項が法令に違反するとされた場合、当該条項は、その限りにおいて本利用契約に適用されないものとし、本規約の他の条項は引き続き有効に存続するものとします。</p>
